<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			crossorigin="anonymous"
		/>

		<title>{% block title %}Home{% endblock %}</title>
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<a class="navbar-brand" href="/">@some1and2/portfolio</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar"?>

				<div class="dropdown">
					<button class="btn btn-secondary btn-dark dropdown-toggle" type="button"
						id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Authentication
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% if user.is_authenticated %}
							<a class="dropdown-item" id="logout" href="/logout">logout</a>
						{% else %}
							<a class="dropdown-item" id="login" href="/login">login</a>
							<a class="dropdown-item" id="signup" href="/sign-up">signup</a>
						{% endif %}
					</div>
				</div>


				<div class="dropdown">
					<button class="btn btn-secondary btn-light dropdown-toggle" type="button"
						id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Demos
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="kyros">Kyros</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">MINST Classification</a>
					</div>
				</div>
			
			</div>
		</nav>

		<div style="height: 56px;"></div> <!-- For filling space behind navbar -->

		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					{% if category == "error" %}
						<div class="alert alert-danger alert-dismissable fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% else %}
						<div class="alert alert-success alert-dismissable fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endwith %}

		<main role="main" class="flex-shrink-0 min-size">
			{% block content %}
			{% endblock %}
		</main>

		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>

		<script
			type="text/javascript"
			src="{{ url_for('static', filename='js/index.js') }}"
		></script>

		<!-- Footer -->
		<footer class="footer mt-auto py-5 bg-dark">
			<div class="container"><p class="m-0 text-center text-white">Copyright &copy; @some1and2 2022</p></div>
		</footer>
	</body>
</html>